Source: peless
Section: utils
Priority: optional
Maintainer: Paul Elliott <pelliott@BlackPatchPanel.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, 
	       libboost-dev, libboost-regex-dev, libboost-filesystem-dev, 
	       libgconfmm-2.6-dev, libgtkmm-2.4-dev, libsigc++-2.0-dev, 
	       libcairomm-1.0-dev, libxml-parser-perl, intltool, 
	       dh-autoreconf, autoconf-archive
Standards-Version: 3.9.3

Package: peless
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Text browser
 Peless is a simple text file lister. It can display multiple files
 using a tabbed notebook, display international characters, and search
 the files for regular expressions or literal expressions. 
 Users can choose the fonts used to display files.
