Source: peless
Section: utils
Priority: optional
Maintainer: Paul Elliott <pelliott@BlackPatchPanel.com>
Build-Depends: debhelper (>= 5), autotools-dev, libboost1.38-dev, libboost-regex1.38-dev, libgconfmm-2.6-dev, libgtkmm-2.4-dev, libsigc++-2.0-dev, libcairomm-1.0-dev, libboost-filesystem1.38-dev, libxml-parser-perl, intltool
Standards-Version: 3.7.2

Package: peless
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Text browser
 Peless is a simple text file lister. It can display multiple files
 using a tabbed notebook, display international characters, and search
 the files for regular expressions or literal expressions. 
 Users can choose the fonts used to display files.
