#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

#BOOST='mt'
#BOOST='st'
#In several systems the suffix needed to compile peless may vary; uncomment the suffix for your needs
BOOST=''

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info --with-boost-filesystem=$(BOOST) --with-boost-regex=$(BOOST) CFLAGS="$(CFLAGS)" LDFLAGS="-Wl,--as-needed,-z,defs"

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog

override_dh_auto_install:
	dh_auto_install
	#insure that empty directories are deleted.
	find $(CURDIR)/debian/peless -type d -empty -delete
